*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8px;
}

/* ######################## COMMON CSS ##################### */

nav.navbar.navbar-expand-lg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 14px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
    color: #BBBBCB;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0px;
    margin-left: 48px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
    color: #FFFFFF;
}

.navbar-expand-lg .navbar-nav button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 41px;
    border: 4px solid rgba(244, 246, 252, 0.2);
    padding: 16px 48px;
    margin-left: 48px;
    transition: all linear 0.4s;
}

.navbar-expand-lg .navbar-nav button:hover{
    background: none;
    color: azure;
}

 /* =============== NAVBAR CSS END ================    */
 /* =============== NAVBAR CSS END ================    */
 /* =============== NAVBAR CSS END ================    */

/* ################################################## */



 /* =============== BANNER CSS START ================    */
 /* =============== BANNER CSS START ================    */
 /* =============== BANNER CSS START ================    */
 /* =============== BANNER CSS START ================    */
 /* =============== BANNER CSS START ================    */

 #banner-part{
    padding-top: 218px;
    padding-bottom: 128px;
    background: #1C1E53;
}

 /* ################################################## */

 #banner-part .banner-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: white;
    line-height: 74px;
    padding-bottom: 20px;
 }

 #banner-part .banner-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    padding-bottom: 30px;
 }

/* ################################################## */

.buttons button{
    font-family: 'Manrope', sans-serif;
    background: #FCD980;
    border-radius: 41px;
    border: 4px solid rgba(244, 246, 252, 0.2);
    padding: 16px 52px;
    color: #1B1C2B;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-right: 70px;
    transition: all linear 0.4s;
}

.buttons button:hover{
    background: transparent;
    color: #FFFFFF;
}
.buttons a{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF; 
}

.buttons i{
    padding-left: 14px;
}

 /* =============== BANNER CSS END ================    */
 /* =============== BANNER CSS END ================    */
 /* =============== BANNER CSS END ================    */







 /* =============== WORK CSS START ================    */
 /* =============== WORK CSS START ================    */
 /* =============== WORK CSS START ================    */
 /* =============== WORK CSS START ================    */
 /* =============== WORK CSS START ================    */

#work{
    background: #F4F6FC;
    padding: 128px 0;
}

#work .work-one h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    padding-bottom: 16px;
}

#work .work-one p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 405px;
    color: #282938;
    opacity: 0.7;
    padding-bottom: 16px;
}

#work .work-one a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #2405F2;
}

#work .work-one i{
    padding-left: 5px;
}

/* ################################################## */

#work .work-two img{
    padding-bottom: 16px;
}

#work .work-two h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #282938;
    padding-bottom: 8px;
}

#work .work-two p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 303px;
    color: #282938;
    opacity: 0.7;
}

/* ################################################## */

 /* =============== WORK CSS END ================    */
 /* =============== WORK CSS END ================    */
 /* =============== WORK CSS END ================    */




 
 /* =============== PROJECTS CSS START ================    */
 /* =============== PROJECTS CSS START ================    */
 /* =============== PROJECTS CSS START ================    */
 /* =============== PROJECTS CSS START ================    */
 /* =============== PROJECTS CSS START ================    */

#projects{
    padding: 128px 0;
}

/* ################################################## */

#projects .headings{
    padding-bottom: 64px;
}

#projects .headings h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}

#projects .headings .anchor{
    position: relative;
}

#projects .headings .anchor a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    position: absolute;
    top: 16px;
    right: 22px;
}

#projects .headings .anchor i{
    position: absolute;
    top: 23px;
    right: 0;
}

/* ################################################## */

.pic-one{
    position: relative;
}

/* ################################################## */

.project-overley{
    width: 396px;
    /* width: 0; */
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear 0.4s;
}

.pic-one:hover .project-overley{
    opacity: 1;
    /* width: 396px; */
} 

.project-overley h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding: 312px 35px 16px 48px;
}

.project-overley p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 0px 55px 40px 48px;
}

.project-overley a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FCD980;
    padding-left: 48px;
    /* padding: 0px 208px 76px 48px; */
}

.project-overley i{
    padding-left: 5px;
}

/* ################################################## */

.pic-two{
    padding-bottom: 32px;
    position: relative;
}


.overlay-two{
    width: 100%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all linear 0.5s;
}

.pic-two:hover .overlay-two{
    opacity: 1;
}

.overlay-two h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 313px;
    padding: 129px 36px 10px 56px;
}

.overlay-two a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FCD980;
    padding-left: 56px;
}

.overlay-two i{
    padding-left: 5px;
}


 /* =============== PROJECTS CSS END ================    */
 /* =============== PROJECTS CSS END ================    */
 /* =============== PROJECTS CSS END ================    */



 
 /* =============== FEATURES CSS START ================    */
 /* =============== FEATURES CSS START ================    */
 /* =============== FEATURES CSS START ================    */
 /* =============== FEATURES CSS START ================    */
 /* =============== FEATURES CSS START ================    */

 #features{
    padding: 128px 0;
    background: #F4F6FC;
}

/* ################################################## */

#features .headings h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    text-align: center;
}

#features .headings h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    width: 630px; 
    text-align: center;
    margin: 0 auto;
    padding-bottom: 47px;
}

/* ################################################## */

#features .details img{
    padding-top: 58px;
    padding-bottom: 24px;
    padding-left: 48px;
}

#features .details h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
    padding-bottom: 12px;
    padding-left: 48px;
}

#features .details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    width: 400.65px;
    opacity: 0.7;
    padding-right: 32px;
    padding-bottom: 48px;
    padding-left: 48px;
}

/* ################################################## */

#features .details .client{
    background: #FFFFFF;
    border-bottom: 25px solid #F4F6FC;
}

#features .details .revision{
    background: #FFFFFF;
    border-left: 25px solid #F4F6FC;
    border-right: 25px solid #F4F6FC;
    border-bottom: 25px solid #F4F6FC;
}

#features .details .template{
    background: #FFFFFF;
    border-bottom: 25px solid #F4F6FC;
}

#features .details .suport{
    background: #FFFFFF;
}

#features .details .delivery{
    background: #FFFFFF;
    border-left: 25px solid #F4F6FC;
    border-right: 25px solid #F4F6FC;
}

#features .details .approach{
    background: #FFFFFF;
}

 /* =============== FEATURES CSS END ================    */
 /* =============== FEATURES CSS END ================    */
 /* =============== FEATURES CSS END ================    */



 /* =============== TESTIMONIALS CSS START ================    */
 /* =============== TESTIMONIALS CSS START ================    */
 /* =============== TESTIMONIALS CSS START ================    */
 /* =============== TESTIMONIALS CSS START ================    */
 /* =============== TESTIMONIALS CSS START ================    */

#clients{
    padding-top: 130px;
    padding-bottom: 192px;
    background: rgba(244, 246, 252, 0.5);
    /* opacity: 0.5; */
}

/* ################################################## */

#clients .about h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    width: 327px;
    padding-bottom: 16px;
}

#clients .about p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    width: 327px;

}

/* ################################################## */

#clients .vice-president h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #282938;
    padding-bottom: 48px;
}

#clients .president-pic{
    display: flex;
    position: relative;
}

#clients .president-pic .sirname h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    padding-left: 14px;
}

#clients .president-pic .sirname h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #282938;
    padding-left: 14px;
}

#clients .president-pic .circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #2405F2;
    position: absolute;
    bottom: 0;
    right: 0;
}

#clients .president-pic .icon-less i{
    position: absolute;
    bottom: 14px;
    right: 65px;
}

#clients .president-pic .circle .circle-icon i {
    position: absolute;
    top: 15px;
    left: 18px;
}

 /* =============== TESTIMONIALS CSS END ================    */
 /* =============== TESTIMONIALS CSS END ================    */
 /* =============== TESTIMONIALS CSS END ================    */




 
 /* =============== INFORMATIONS CSS START ================    */
 /* =============== INFORMATIONS CSS START ================    */
 /* =============== INFORMATIONS CSS START ================    */
 /* =============== INFORMATIONS CSS START ================    */
 /* =============== INFORMATIONS CSS START ================    */

 #questions{
    padding-top: 109px;
    padding-bottom: 128px;
 }

/* ################################################## */

#questions .title h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    padding-bottom: 16px;
}

#questions .title h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #2405F2;
}

/* ################################################## */

 /* =============== INFORMATIONS CSS END ================    */
 /* =============== INFORMATIONS CSS END ================    */
 /* =============== INFORMATIONS CSS END ================    */





 
 /* =============== CONTACT-FORM CSS START ================    */
 /* =============== CONTACT-FORM CSS START ================    */
 /* =============== CONTACT-FORM CSS START ================    */
 /* =============== CONTACT-FORM CSS START ================    */
 /* =============== CONTACT-FORM CSS START ================    */



/* ################################################## */

#form .both{
    display: flex;
}

.steller{
    position: relative;
}

.steller img{
    height: 724px;
}

#form .steller .steller-details{
    position: absolute;
    top: 96px;
    left: 96px;
}

#form .steller .steller-details h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #FFFFFF;
    width: 464px;
    padding-bottom: 24px;
}

#form .steller .steller-details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    width: 464px;
}

/* ################################################## */

.inquiry{
    background: #1C1E53;
    padding: 96px 96px 48px 96px;
}

#form .both .inquiry h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 16px;
}


#form .both .inquiry p {
    color: var(--grey, #F4F6FC);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 30px;
}

/* ################################################## */


#form .both .inquiry .name{
    width: 432px;
    height: 64px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
}

#form .both .inquiry .name p{
    color: var(--grey, #F4F6FC);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5;
    padding-top: 18px;
    padding-left: 32px;
    padding-bottom: 18px;
}

#form .both .inquiry .email{
    width: 432px;
    height: 64px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
}

#form .both .inquiry .email p{
    color: var(--grey, #F4F6FC);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5;
    padding-top: 18px;
    padding-left: 32px;
    padding-bottom: 18px;
}

#form .both .inquiry .url{
    width: 432px;
    height: 64px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
}

#form .both .inquiry .url p{
    color: var(--grey, #F4F6FC);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5;
    padding-top: 18px;
    padding-left: 32px;
}

/* ################################################## */

#form .both .inquiry .btn button{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 41px;
    background: #FCD980;
    color: #1B1C2B;
    padding: 16px 132px;
    transition: all linear 0.4s;
    border: 4px solid rgba(244, 246, 252, 0.2);
    margin-bottom: 35px;
}

#form .both .inquiry .btn button:hover{
    background: transparent;
    color: #F4F6FC;
    
}


#form .both .inquiry .slider{
    position: relative;
}

#form .both .inquiry .slider a{
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 90px;
}

#form .both .inquiry .slider .slider-icon i{
    position: absolute;
    top: 9px;
    right: 135px;
}

/* ################################################## */

 /* =============== CONTACT-FORM CSS END ================    */
 /* =============== CONTACT-FORM CSS END ================    */
 /* =============== CONTACT-FORM CSS END ================    */





 /* =============== BLOG CSS START ================    */
 /* =============== BLOG CSS START ================    */
 /* =============== BLOG CSS START ================    */
 /* =============== BLOG CSS START ================    */
 /* =============== BLOG CSS START ================    */

 #blog{
    padding-bottom: 128px;
 }

#blog .blog-heading h3{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-top: 128px;
    padding-bottom: 64px;
}



#blog .blogs-all .date p{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.699999988079071;
    padding-top: 40px;
    padding-bottom: 16px;
}

#blog .blogs-all h6{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 16px;
}

#blog .blogs-all p{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 405px;
    padding-bottom: 32px;
}

#blog .blogs-all a{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#blog .blogs-all i{
    padding-left: 12px;
}

 /* =============== BLOG CSS END ================    */
 /* =============== BLOG CSS END ================    */
 /* =============== BLOG CSS END ================    */



 /* =============== FOOTER CSS START ================    */
 /* =============== FOOTER CSS START ================    */
 /* =============== FOOTER CSS START ================    */
 /* =============== FOOTER CSS START ================    */
 /* =============== FOOTER CSS START ================    */

 #footer{
    background: #1C1E53;
    padding-top: 100px;
    position: relative;
 }

/* ################################################## */

#footer .side-one p{
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.800000011920929;
    padding-top: 22px;
}

/* ################################################## */

#footer .talk-side h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

#footer .talk-side p{
    color: var(--grey, #F4F6FC);
    opacity: 0.800000011920929;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* padding-top: 14px; */
    padding-bottom: 28px;
}

#footer .talk-side img{
    margin-right: 27px;
}

/* ################################################## */

#footer .mail {
    display: flex;
    background: var(--yellow, #FCD980);
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 37px;
}

#footer .mail .mail-prt{
    padding-right: 29px;
}

#footer .mail h6{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

#footer .mail a{
    opacity: 0.800000011920929;
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

 /* =============== FOOTER CSS END ================    */
 /* =============== FOOTER CSS END ================    */
 /* =============== FOOTER CSS END ================    */


 /* =============== COPYRIGHT CSS START ================    */
 /* =============== COPYRIGHT CSS START ================    */
 /* =============== COPYRIGHT CSS START ================    */
 /* =============== COPYRIGHT CSS START ================    */
 /* =============== COPYRIGHT CSS START ================    */

#copyright{
    padding: 32px 0;
}

#copyright p{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

#copyright .flx{
    display: flex;
}

#copyright .last-nav{
    display: flex;
}

#copyright .last-nav p{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 32px;
}

 /* =============== COPYRIGHT CSS END ================    */
 /* =============== COPYRIGHT CSS END ================    */
 /* =============== COPYRIGHT CSS END ================    */